/.fabric
/assets
/clients
/bluemap
/config
/crash-reports
/dashloader-cache
/data
/defaultconfigs
/libraries
/logs
/moddata
/resourcepacks
/saves
/screenshots
/world
/not-enough-crashes
/XaeroWaypoints
/XaeroWaypoints_BACKUP032021
/XaeroWorldMap
imm_ptl_state.json
launcher_profiles.json
options.amecsapi.txt
options.txt
servers.dat
servers.dat_old
/usercache.json